
# ------------------------------
# ML / NLP
# ------------------------------
transformers==4.44.2
torch==2.2.0+cpu

# ------------------------------
# Messaging
# ------------------------------
confluent-kafka==2.5.0

# ------------------------------
# Utilities
# ------------------------------
python-dotenv>=1.0
loguru>=0.7

# ------------------------------
# Dev & tests
# ------------------------------
pytest>=8.3
black>=24.4
flake8>=7.1

--extra-index-url https://download.pytorch.org/whl/cpu
