
# ------------------------------
# Core
# ------------------------------
requests>=2.32
python-dotenv>=1.0
loguru>=0.7

# ------------------------------
# Messaging
# ------------------------------
confluent-kafka==2.5.0

# ------------------------------
# Dev & tests
# ------------------------------
pytest>=8.3
black>=24.4
flake8>=7.1
